@import 'reset';
@import 'global';
@import 'slick';


@font-face {
  font-family: Georgia;
  src: url(../fonts/Georgia.woff2),
  url(../fonts/Georgia.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}




.header {
  color: #2C2C2C;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0826049);

  &__ineer {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
  }

  &__ineer-end {
    display: flex;
    align-items: center;
  }
}

.logo {
  &__img {
    padding-right: 15px; 

  }

  &__img-two {
    display: none;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item {
    padding-right: 36px;
  }

  &__list-item:nth-child(1),
  &__list-item:nth-child(3) {
    padding-right: 48px;
  }

  &__list-link {
    position: relative;
  }

  &__list-link:hover {
    color: #2D415E;
  }

  &__list-link:active{
    font-weight: 600;
  }

  &__list-en {
    display: none;
  }

  &__list-link-bg::after {
    content: '';
    background-image: url(../images/path.svg);
    position: absolute;
    width: 7px;
    height: 4px;
    top: 8px;
    right: -12px;
  }

  &__list-link-bg:hover::after {
    content: '';
    background-image: url(../images/path-two.svg);
    position: absolute;
    width: 7px;
    height: 4px;
    top: 8px;
    right: -12px;
  }

  &__buttom {
    display: none;
  }
}

.knowing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin: 0 15px;
  overflow-x: hidden;

  width: 1264px;
  margin-left: auto;
  margin-right: auto;
  right: -58px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 546px;
    margin-left: auto;
    z-index: 1;
    padding-left: 15px;
    flex-shrink: 0;
    box-sizing: content-box;
  }

  &__content-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 74px;
    color: #2C2C2C;
    margin-bottom: 24px;
  }

  &__content-text {
    max-width: 500px;
    margin-bottom: 56px;
  }

  &__content-text-px {
    max-width: 500px;
    margin-bottom: 56px;
    display: none;
  }

  &__btn {}
  
  &__buttom {
    margin-right: 20px;
  }
  
  &__images {
    position: relative;
    left: -135px;
  }
  
  &__images-img {}
}

.button {
  cursor: pointer;
  border: none;
  background: #FFCC2A;
  border-radius: 31px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #2C2C2C;
  padding: 19px 0px 18px 0px;
  width: 215px;
  transition: background .3s;

  &:hover {
    background-color: #C0C2C3;
  }
}

.button-white {
  background: #FFFFFF;
  border: 1px solid #2D415E;
  border-radius: 31px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #2D415E;
  &:hover {
    background-color: #C0C2C3;
    color: #000000;
    border: 1px solid #cecece;
  }
}

.info {
  &__ineer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    background: #2D415E;
    border-radius: 20px;
    height: 304px;
    position: relative;
  }

  &__content {
    display: flex;
    align-items: center;
    padding-left: 96px;
    color: #FFFAEC;
  }

  &__caption:nth-child(1) {
    padding-right: 86px;
  }

  &__caption:nth-child(2) {
    padding-right: 42px;
  }
  
  &__caption-number {
    font-weight: 600;
    font-size: 60px;
    line-height: 82px;
    color: #FFCD00;
  }

  &__images {
    position: relative;
  }

  &__img {
    position: absolute;
    top: -21px;
  }

  &__oval {}
  
  &__icon-one {
    position: absolute;
    bottom: -10px;
  }
  
  &__icon-two {
    position: absolute;
    top: -13px;
    left: -82px;
  }
  
  &__icon-image {
    position: absolute;
  }
  
  &__icon-svg {
    position: absolute;
    top: -17px;
  }

  &__deer {
    display: none;
  }
}

.help {
  &__ineer {
    margin-top: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
  }

  &__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: #2C2C2C;
  }

  &__icon {
    position: relative;
    top: -5px;
    right: -268px;
  }

  &__icon-one {}

  &__icon-two {
    position: absolute;
    left: -24px;
    top: -26px;
  }
}

.outcome {
  background: #F8F8F8;

  &__ineer {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding-top: 103px;
    padding-bottom: 104px;
  }

  &__images {
    display: flex;
    align-items: center;
  }
  
  &__img-px {
    display: none;
  }

  &__btn-px {
    display: none;
  }

  &__content-px {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #2C2C2C;
  margin-bottom: 24px;
}

.text {
  color: #545454;
  margin-bottom: 56px;
}

.advisory {


  &__content {
    padding-bottom: 136px;
    padding-top: 135px;
  }

  &__content-text-px {
    display: none;
  }

  &__images {
    display: flex;
    align-items: center;
  }

  &__images-px{
    display: none;

  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn-icon {
    margin-right: 60px;
  }
}

.gallery {
  padding: 149px 0 154px;
  color: #2C2C2C;

  &__top {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 76px;
  }

  &__title {
    font-weight: inherit;
  }

  &__slider {
    font-size: 20px;
    line-height: 26px;
  }

  &__item-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 26px;
  }

  &__item-link {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 273px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
  }

  &__item-text {
    max-width: 290px;
  }

  &__item-one {
    background-image: url(../images/gallery-1.jpg);
  }

  &__item-two {
    background-image: url(../images/gallery-2.jpg);
  }

  &__item-free {
    background-image: url(../images/gallery-3.jpg);
  }
}


.slick-btn {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 112px;
  background-color: #FFCC2A;
  border-radius: 30px;
  transition: background .3s;

  &:hover {
    background-color: #C0C2C3;
  }
}

.slick__arrow {
  height: 16.84px;
  width: 9.95px;
  display: block;
}

.slick-prev {
  left: -85px;
  padding: 16px 20px 16px 18px;
}


.slick-next {
  right: -85px;
  padding: 16px 18px 16px 20px;
}

.form {
  &__ineer {
    padding-top: 64px;
    padding-bottom: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__ineer-title {
    text-align: center;
    margin-bottom: 80px;
    max-width: 670px;
  }

  &__ineer-forma {
    background: #F8F8F8;
    border-radius: 26px 20px 20px 26px;
    display: flex;
    position: relative;
  }
  
  &__ineer-images {
    display: flex;
    position: relative;
  }

  &__ineer-img {}

  &__ineer-text {
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    left: 43px;
    z-index: 1;
  }
  
  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 31px;
    margin-top: 51px;
  }
  
  &__ineer-number {
    padding-left: 23px;
    position: relative;

    &::before {
      content: '';
      background-image: url(../images/number.svg);
      position: absolute;
      top: 3px;
      left: 4px;
      width: 10px;
      height: 10px;
    }
  }

  &__mail-one {
    padding-left: 23px;
    position: relative;

    &::before {
      content: '';
      background-image: url(../images/mail.svg);
      position: absolute;
      top: 6px;
      left: 4px;
      width: 12px;
      height: 8px;
    }
  }

  &__mail-two {
    padding-left: 23px;
  }

  &__tite-buttom {
    padding-top: 29px;
  }

  &__ineer-icon {
    position: absolute;
    bottom: -197px;
    left: -122px;
  }

  &__ineer-icon-two {
    position: absolute;
    left: 30px;
    bottom: -172px;
  }

  &__ineer-content {
    margin-left: 20px;
  }
  
  &__ineer-content-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #2C2C2C;
    margin-top: 45px;
    margin-bottom: 50px;
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    width: 465px;
  }
  
  &__input {
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid #2C2C2C;
    background-color: inherit;
    height: 29px;
    outline: none;
  
    &::placeholder {
      color: #545454;
    }
  }
  
  &__area {
    margin-bottom: 55px;
    border: none;
    border-bottom: 1px solid #2C2C2C;
    background-color: inherit;
    height: 31px;
    padding: 0;
    resize: none;
    outline: none;
  
    &::placeholder {
      color: #545454;
      font-size: 16px;
    }
  }
  
  &__btn {
    margin: 0 auto;
    font-size: 20px;
    line-height: 27px;
  }

  &__icon {
    position: absolute;
    right: 5px;
    bottom: 268px;
  }
  
  &__ineer-line {
    position: absolute;
    top: 163px;
    left: 50px;
  }
  
  &__line-one {
    position: absolute;
  }
  
  &__ineer-two {
    position: absolute;
    top: 9px;
    left: 8px;
  }
  
  &__cube {
    position: absolute;
    top: 49px;
    left: -108px;
  }
  
  &__cube-two {
    position: absolute;
    top: 306px;
    right: 3px;
  }
}


.footer {
  background: #F8F8F8;
  padding-top: 60px;

  &__ineer {
    display: flex;
    justify-content: space-between;
    color: #2C2C2C;
    font-size: 14px;
  }

  &__logo {
    padding-right: 40px;
  }

  &__logo-px {
    display: none;
  }

  &__title {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 15px;
  }

  &__ineer-number {
    &::before {
      background-image: url(../images/number-two.svg);
      height: 11px;
    }
  }
  
  &__mail-one {
    &::before {
      background-image: url(../images/mail-two.svg);
    }
  }

  &__list {
    display: flex;
  }

  &__list-item + .footer__list-item {
    margin-left: 10px;
  }

  &__copyright {
    display: flex;
    padding: 16px 0 17px;
    border-top: 1px solid #D0D0D0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2C2C2C;
  }
}






@media (max-width: 1380px) {
  .knowing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: unset;
    right: 0px;

    &__content {
      margin-left: 0;
      width: unset;
      text-align: center;
      max-width: 669px;
      padding-left: 0;
      padding: 0 15px;
    }

    &__content-title {
      max-width: 640px;
      padding-top: 60px;
    }

    &__content-text {
      max-width: 100%;
    }

    &__images {
      position: unset;
      padding: 0 8px;
    }

    &__images-img {
      max-width: 100%;
    }
  }

  .gallery {
    &__item {
      overflow: hidden;
    }
  
    &__item-inner {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 26px;
    }
  
    &__item-block {
      height: 372px;
      width: 310px;
    }
  }
  
  .slick-prev {
    top: 400px;
    left: 15%;
  }
  
  .slick-next {
    top: 400px;
    right: 15%;
  }

  .form {
    &__icon {
      display: none;
    }
  
    &__cube {
      display: none;
    }
  
    &__cube-two {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .help {
    &__icon {
      right: -168px;
    }
  }
}

@media (max-width: 1150px) {
  .info {
    &__ineer {
      margin-top: 70px;
    }
  
    &__content {
      padding-left: 15px;
    }
  
    &__caption:nth-child(1) {
      padding-right: 34px;
    }
    
    &__caption:nth-child(2) {
      padding-right: 34px;
    }

    &__icon-two {
      display: none;
    }
  }

  .advisory {
    &__btn-icon {
      display: none;
    }
  }

  .form {
    &__ineer-line {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .gallery {
    padding: 60px 0;

    &__top  {
      margin-bottom: 40px;
    }

    &__title {
      font-size: 32px;
      line-height: 36px;
    }

    &__item-text {
      font-size: 16px;
      line-height: 26px;
    }

    &__item-link {
      min-height: 246px;
      margin-bottom: 12px;
    }
    
    &__item-block {
      height: unset;
    }
  }

  .slick-prev {
    transform: translateX(-250px);
  }
  
  
  .slick-next {
    transform: translateX(-1000px);
  }
}

@media (max-width: 940px) {
  .outcome {
    &__ineer {
      flex-direction: column;
      align-items: center;
      padding-top: 41px;
    }
  
    &__content {
      padding: 0;
    }
  
    &__content-title {
      margin-bottom: 26px;
    }
  
    &__content-text {
      margin-bottom: 24px;
    }
  
    &__btn {
      display: none;
    }

    &__btn-px {
      display: block;
      margin-bottom: 32px;
    }
  
    &__images {
      margin-bottom: 53px;
    }

    &__img  {
      display: none;
    }

    &__img-px {
      display: block;
      max-width: 100%;
    }
  }

  .advisory {
    &__content {
      padding: 0;
    }
  
    &__content-text {
      display: none;
    }

    &__content-text {
      display: block;
      margin-bottom: 24px;
    }
  
    &__btn {
      justify-content: center;
    }
  
    &__images {
      display: none;
    }

    &__images-px {
      display: flex;
      justify-content: center;
      margin-bottom: 53px;
    }
  }
  
  .form {
    &__ineer {
      display: block;
      padding-top: 56px;
      padding-bottom: 0;
    }
  
    &__ineer-title {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 43px;
      text-align: start;
      padding-left: 24px;
      max-width: 267px;
    }
  
    &__ineer-forma {
      flex-direction: column;
      background-color: unset;
    }
  
    &__ineer-images {
      display: none;
    }

    &__ineer-images-px {
      display: flex;
      position: relative;
      background-color: #2C405F;
      justify-content: center;
      overflow: hidden;

    }
  
    &__ineer-text {
      position: unset;
      padding-bottom: 60px;
      position: relative;
      left: 0;
    }
  
    &__title {
      margin-top: 60px;
      margin-bottom: 23px;
    }
  
    &__tite-buttom {
      margin-top: 48px;
      margin-bottom: 23px;
      padding: 0;
    }
  
    &__ineer-icon {
      position: absolute;
      bottom: -75px;
      left: 2px;
    }
    
    &__ineer-icon-two {
      position: absolute;
      left: 165px;
      bottom: -40px;
    }
  
    &__ineer-content {
      margin: 0 15px;
      background-color: #F8F8F8;
      border-radius: 10px;
      position: relative;
      bottom: -21px;
      z-index: 1;
      padding: 60px 24px;
      
    }
  
    &__ineer-content-title {
      padding-left: 56px;
      padding-bottom: 47px;
      margin: 0;
    }
  
    &__form {
      width: auto;
    }
  }
  
  .container__form {
    padding: 0;
  }

  .footer {
    &__ineer {}
  
    &__logo {
      padding-right: 10px;
    }
  
    &__logo-img {}
  
    &__company {
      margin-right: 8px;
    }
  
    &__title {}
  
    &__menu {}
  
    &__menu-list {}
  
    &__menu-item {}
  
    &__menu-link {}
  
    &__servises {}
  
    &__contact {}
  
    &__ineer-number {}
  
    &__mail-one {}
  
    &__follow {}
  
    &__list {
      
    }
  
    &__list-item {}
  
    &__list-link {}
  
    &__list-img {}
  
    &__copyright {}
  }
  
  .container {}
  
  .form {
    &__ineer-number {}
  
    &__mail-one {}
  }
}

@media (max-width: 910px) {
  .info {
    &__ineer {
      height: 844px;
      flex-direction: column;
      padding-top: 64px;
      overflow: hidden;
    }
  
    &__content {
      padding-left: 0;
      flex-direction: column;
      align-items: unset;
      position: relative;
    }
  
    &__caption {
      margin-bottom: 16px;
    }
  
    &__img {
      position: relative;
    }
  
    &__oval {
      display: none;
    }
  
    &__icon-one {
      display: none;
    }

    &__deer {
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      top: -32px;
      right: -42px;
    }
  }

  .help {
    &__icon {
      right: -68px;
    }
  }

}

@media (max-width: 840px) {
  .header {
    &__ineer {
      height: 60px;
      margin: 0;
    }
  }

  .logo {
    &__img {
      display: none;
    }
    
    &__img-two {
      display: block;
    }
  }

  
  .menu {
    &__buttom {
      background: #FFCD00;
      border-radius: 22px;
    }
  
    &__list {
      font-size: 15px;
    }
  
    &__list-item {
      padding-right: 10px;
    }

    &__list-item:nth-child(1),
    &__list-item:nth-child(3) {
      padding-right: 20px;
    }

    &__list-link-bg::after {
      right: -9px;
    }
  }
}

@media (max-width: 737px) {
  .help {
    &__ineer {
      margin-top: 48px;
      margin-bottom: 32px;
      padding-bottom: 0;
    }
  
    &__title {
      text-align: center;
      font-size: 32px;
      line-height: 36px;
    }
  
    &__icon {
      display: none;
    }
  }

  .info {
    &__ineer {
      margin-top: 25px;
    }
  }

  .outcome {
    &__content-title {
      font-size: 26px;
      line-height: 30px;
    }
  }

  .outcome {
    &__ineer {
      padding-bottom: 32px;
    }
  
    &__content-title {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 26px;

    }
  
    &__content-text {
      display: none;
    }

    &__content-px {
      display: block;
      line-height: 29px;
      margin-bottom: 24px;
    }
  }

    .footer {
      &__ineer {}
  
      &__logo {
        display: none;
      }

       &__logo-px{
         display: block;
       }
  
      &__logo-img {}
  
      &__company {}
  
      &__title {
        padding-right: 6px;
      }
  
      &__menu {}
  
      &__menu-list {}
  
      &__menu-item {}
  
      &__menu-link {}
  
      &__servises {
        width: 145px;
      }
  
      &__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 5px;
        margin-right: 7px;
      }
      
      &__number {
        min-width: 150px;
      }

      &__ineer-number {}
  
      &__mail-one {}
  
      &__follow {}
  
      &__list {}
  
      &__list-item {}
  
      &__list-link {}
  
      &__list-img {}
  
      &__copyright {}
    }
  
    .container {}
  
    .form {
      &__ineer-number {}
  
      &__mail-one {}
    }
}

@media (max-width: 660px) {
  .header {
    &__ineer-end {
      display: none;
    }
  
    &__ineer-scale {
      display: none;
    }
  }
  
  .menu {
    margin-left: auto;

    &__buttom {
      display: block;
    }
  
    &__list {
      display: block;
      position: absolute;
      left: 20%;
      right: 20%;
      background-color: #FFCC2A;
      text-align: center;
      border-radius: 25px;
      top: -300px;
      transition: all .5s;
    }

    .menu__list.menu__list--active {
      top: 47px;
      z-index: 2;
    }
  
    &__list-item {
      display: block;
      margin: 15px;
      padding-right: 0px;
    }

    &__list-item:nth-child(1),
    &__list-item:nth-child(3) {
      padding-right: 0px;
    }

    &__list-link:hover {
      color: #2C2C2C;
    }
    
    &__list-link:active {
      font-weight: 400;
    }

    &__list-link-bg::after {
      display: none;
    }
  
    &__list-en {
      display: block;
    }
  }

  .knowing {
    &__content {
      max-width: 435px;
    }
  
    &__content-title {
      font-size: 40px;
      line-height: 45px;
    }
  
    &__content-text {
      display: none;
    }
  
    &__content-text-px {
      display: inherit;
    }
  
    &__buttom {
      margin-right: 0px;
      margin-bottom: 24px;
    }
  }

  .button-white {
    margin-bottom: 23px;
  }
}

@media (max-width: 530px) {
  .footer {
      &__ineer {
        flex-direction: column;
      }
  
      &__logo {
        display: block;
        margin-bottom: 40px;
      }

      &__number {
        display: flex;
        flex-wrap: wrap;
      }
  
      &__logo-img {}
  
      &__company {
        margin-bottom: 40px;
      }
  
      &__title {
        margin-bottom: 24px;
      }

      &__title-contact {
        margin-bottom: 15px;
      }

      &__title-follow {
        display: none;
      }
  
      &__menu {

      }
  
      &__menu-list {
        display: flex;
        flex-wrap: wrap;
      }
  
      &__menu-item {
        padding-right: 24px;
      }
  
      &__menu-link {}
  
      &__servises {
        width: unset;
        margin-bottom: 40px;

        span {
          display: none;
        }
      }
  
      &__contact {
        margin-bottom: 35px;
        padding: 0;
      }
  
      &__contact-content {}
  
      &__ineer-number {
        margin-right: 30px;

        &::before {
          top: 9px;
        }
      }
  
      &__mail-one {
        &::before {
            top: 11px;
          }
      }
  
      &__logo-px {
        display: none;
      }
  
      &__follow {

      }
  
      &__list {
        justify-content: center;
        padding-bottom: 28px;
      }
  
      &__list-item {}
  
      &__list-link {}
  
      &__list-img {}
  
      &__copyright {
        padding: 27px 0 17px;
      }
    }
  
    .container {}
  
    .form {
      &__ineer-number {}
  
      &__mail-one {}
    }
}

@media (max-width: 375px) {
  .knowing {
    &__content-text-px {
      padding: 0 8px;
    }
  }
}